.App {
  text-align: center;
  margin-top: 25px;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.columnValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100px;
}

.containerApp {
  display: flex;
  align-items: center;
  justify-content: center;
}
